$basicFont: 'Alegreya', serif;
$mediumScreen: 'screen and (max-width: 1440px)';
$smallScreen: 'screen and (max-width: 480px)';

%p {
  font-family: $basicFont;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}


