%p {
  font-family: Alegreya, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

$mediumScreen: 'screen and (max-width: 1440px)';