@import 'reset';
@import 'vars';
p {
  @extend %p;
}

html,
body {
  height: 100%;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}
.block-heading {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  .line {
    width: 1px;
    height: 130px;
    opacity: 0.3;
    background-color: #000000;
    margin:0 60px;
    @media #{$bigTabletScreen} {
      order: -1;
      width: 100px;
      height: 1px;
      margin-bottom:32px;
    }
  }
  @media #{$bigTabletScreen} {
    flex-direction: column;
  }
  p {
    @extend %p;
    padding: 17px 0;
    max-width: 500px;
  }
}
